/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #606161;
     font-size: 13px;
     font-weight: 300;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
}
#quote {
  background-image: url ("images/testimonial_bg.jpg");
  color: #fff;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  height: auto;
}
#benefits {
  background-color: #fff;
  padding: 40px 0px 40px 40px;
  height: auto;
}
.foot_logo {
  color: #f9e42e;
  text-align: center;
}
header {
  background-image: url ("images/header_bg.jpg");
  text-align: center;
  height: auto;
}

footer {
  text-align: auto;
  font-size: 9px;
  font-weight: 600;
  color: #fff;
  background-color: #121212;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: white;
  text-align: left;
  margin: 40px 0px 40px 60px;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #121212;
}
button {
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  border-style: none;
  background-color: #f9e42e;
  content: 100%;
  align-content: auto;
  padding: 10px 30px 10px 30px;
  margin: 40px 0px 100px 0px;
}
.signup {
  font-size: 12px;
  margin: 20px 0px;
  background-color: #f9e42e;
}
.button2 {
    background-color: #033048;
    color: #fff;
}
div {
    display: block;
    max-width: 100%;
}
.author {
  font-weight: 600;
}

