
#cardDisplay {

}

#content {
	margin: 0em 2em;
}

/* tags */


nav {
	float: right;
	padding-right: 1em;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

h1 {

}

h2 {

}

h3 {

}

button {
	margin: auto;
}

footer {
	text-align: center;
	border: 1px solid black;
}

/* classes */

.title {
	float: left;
	padding-left: 1em;
	padding-bottom: 1em;
}

.controls {
	text-align: center;
	border: 1px solid black;
}

.card {
	border: 1px solid black;
	border-radius: 8px;
	display: inline-block;
	min-height: 25em;
	padding: 10px 10px;
	box-sizing: border-box;
	margin: 2em 1em;
}

.hero {
	border: 1px solid black;
	border-radius: 8px;
	text-align: center;
	min-height: 30em;
	background-color: silver;
	margin: 2em 1em;
}

.pure-button {
	margin-bottom: 1em;
}

.pure-button-primary {
	position: relative;
    bottom: -1em;
    vertical-align: center;
}

.copy {
	min-height: 5em;
	margin: 1em 2em;
}

.image {
	background-color: gray;
	min-height: 12em;
}

/* menu css */
      .custom-wrapper {
          border: 1px solid black;
          background-color: #fff;
          margin-bottom: 1em;
          -webkit-font-smoothing: antialiased;
          height: 2.1em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }
      
      .custom-wrapper.open {
          height: 10em;
      }
      
      .custom-menu-3 {
          text-align: right;
      }
      
      .custom-toggle {
          width: 34px;
          height: 34px;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
      }
      
      .custom-toggle .bar {
          background-color: #777;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }
      
      .custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }
      
      .custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      
      .custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

      .pure-menu-list {
      	float: right;
      }

/* media queries */
      @media (max-width: 47.999em) {

          .custom-menu-3 {
              text-align: left;
          }
      
          .custom-toggle {
              display: block;
          }
      
      }