
#cardDisplay {

}

#content {
	
}

/* tags */
header {
	display: block;
	height: 60px;
	border: 1px solid black;
}

nav {
	float: right;
	padding-right: 1em;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

h1 {

}

h2 {

}

h3 {

}

button {
	margin: auto;
}

footer {
	text-align: center;
	border: 1px solid black;
}

/* classes */
.title {
	float: left;
	padding-left: 1em;
	padding-bottom: 1em;
}

.controls {
	text-align: center;
	border: 1px solid black;
}

.card {
	border: 1px solid black;
	display: inline-block;
	min-height: 25em;
	padding: 10px 10px;
	box-sizing: border-box;
}

.hero {
	border: 1px solid black;
	text-align: center;
	min-height: 15em;
	background-color: silver;
}

.pure-button {
	margin-bottom: 1em;
}

.pure-button-primary {
	position: relative;
    bottom: -1em;
    vertical-align: center;
}

.copy {
	min-height: 5em;
}

.image {
	background-color: gray;
	min-height: 10em;
}

/* media queries */
